html {
    background-image: url(../Img/loginbackground.png);
    background-repeat: no-repeat;
    background-size: 90%;
}

#esxquece {
    margin-left: 48%;
    margin-top: 5%;
    width: 25%;
    display: flex;
}

#retangulo {
    margin-left: 48.5%;
    margin-top: 1%;
    width: 4%;
}

#text {
    margin-top: 2%;
    display: flex;
    margin-left: 48%;
    width: 22%;
}

#email {
    margin-left: 49%;
    margin-top: 1%;
    width: 25%;
    height: 40px;
    font-size: 21px;
    border-radius: 7px;
    border-color: turquoise;
}

#enviar {
    display: flex;
    margin-left: 53.5%;
    margin-top: 1%;
}

#voltar {
    display: flex;
    margin-top: 4.5%;
    margin-left: 53.5%;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
  position: absolute;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  margin-left: 41px;
}
span a:before,
span a:after{
  position: absolute;
  content: "Enviar";
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid rgba(23,188,155,255);
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: rgba(23,188,155,255);
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: rgba(23,188,155,255);
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

div{
  position: absolute;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
div a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  margin-left: 41px;
}
div a:before,
div a:after{
  position: absolute;
  content: "Voltar";
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid rgba(23,188,155,255);
  box-sizing: border-box;
  border-radius: 5px;
}
div a:before{
  color: #fff;
  background: rgba(23,188,155,255);
  transform: rotateY(0deg) translateZ(25px);
}
div a:after{
  color: rgba(23,188,155,255);
  transform: rotateX(90deg) translateZ(25px);
}
div a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}