#header {
    background-color: rgba(23,188,155,255);
    width: 105.45%;
    height: 70px;
    margin-left: -5%;
    margin-top: -0.45%;
}

#botijao {
    display: flex;
    width: 5%;
    margin-top: -4.65%;
    margin-left: -0.5%;
}

#botaoPerfil {
    color: black;
    font-family: bahnschrift;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-left: 92%;
    margin-top: -3.3%;
    font-size: 190%;
    background-color: transparent;
}

#pessoa {
    position: absolute;
    width: 2.5%;
    margin-left: 89.5%;
    margin-top: -3.4%;
}

#title {
    width: 25%;
    margin-left: 1.5%;
    margin-top: 1%;
}

#add {
    margin-left: 50%;
    width: 9%;
    height: 40px;
    border-radius: 15%;
    font-family: bahnschrift;
    font-size: 140%;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
  position: absolute;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  margin-left: -20%;
  margin-top: 4.5%;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "Adicionar";
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid rgba(23,188,155,255);
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: rgba(23,188,155,255);
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: rgba(23,188,155,255);
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
